@model IEnumerable<ShmotStore.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <label for="nameSort">
        Сортировка по названию
        <input type="radio" id="nameSort" name="sortType" value="nameSort" @(ViewBag.SortType == "nameSort" ? "checked" : "") />
    </label>
    <label for="priceSort">
        Сортировка по цене
        <input type="radio" id="priceSort" name="sortType" value="priceSort" @(ViewBag.SortType == "priceSort" ? "checked" : "") />
    </label>
    
    <input type="submit" value="Сортировать" />

}

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sizes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @foreach (var category in item.Categories)
                {
                    <li>@category.Name</li>
                }
            </td>
            <td>
                @foreach (var size in item.Sizes)
                {
                    <li>@size.Name</li>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })
                    <text>|</text>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                    <text>|</text>
                }
                @Html.ActionLink("Add to cart", "AddToCart", new { id = item.ProductId })

            </td>
        </tr>
    }

</table>
