@using ShmotStore.Models
@model CartViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.Products == null || Model.Products.Count == 0)
{
    <p>Корзина пуста</p>
}
else
{
    using (@Html.BeginForm())
    {
        <table class="table">
            <tr>
                <th>Товар</th>
                <th>Цена</th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    
                    <td>@Html.ActionLink("Delete Item", "DeleteItem", new { id = product.ProductId })</td>
                </tr>
            }

        </table>
        <p>Итого: @Model.CartTotal()</p>
        
        <p><a href="~/Checkout/Index">Оформить покупку</a></p>
    }
}